# サンプル
まずはライブラリから必要なものをインポートします

In [2]:
from scraping.netkeirin import OddsScraper, DatabaseScraper

# BeautifulSoupを利用したクラスの利用方法
このライブラリには以下の2種類のクラスが存在します。
1. requests + BeautifulSoup4を利用した、静的サイトのスクレイピングを行うクラス
1. seleniumを利用した、動的サイトのスクレイピングを行うクラス

netkeirinのスクレイピングにおいては、`DatabaseScraper`クラスが静的サイト用、`OddsScraper`クラスが動的サイト用です。

## 動的サイトのスクレイピング
動的サイトの場合にはchrome driverが必要なので、driverの場所を引数から渡す必要があります。

また、静的サイトと同様に、レースIDを用いてアクセスするURLを変える場合には、`visit_page`メソッドを事前に呼び出す必要があります。

In [3]:
odds_scraper = OddsScraper('../chromedriver_win32/chromedriver.exe')
odds_scraper.visit_page('201206132111')

オッズデータが存在しない場合があるため、オッズデータの有無を確認します。古いレースだと無い場合が多いです。

In [4]:
odds_scraper.odds_is_exist()

False

In [5]:
odds_scraper.visit_page('202112011311')
odds_scraper.get_2shatan_odds_table().head(3)

   First  Second   Odds
0      1       2  218.7
1      1       3   83.5
2      1       4  440.2

## 静的サイトのスクレイピング
静的サイトの場合には、クラスの初期化にあたっては何もする必要はありません。
ただし、DatabaseScraperのように、レースIDを用いてアクセスするURLを変える場合には、まず初めてに`get_soup`メソッドで情報を取得する必要があります。

In [6]:
database_scraper = DatabaseScraper()
database_scraper.get_soup('201206132111')

In [7]:
database_scraper.get_main_table().head(3)

   着 枠番 車番    選手名     着差    上り  決 SB
0  1  1  1  宇賀神浩幸         12.2  差
1  2  6  8   奥泉修司    1車輪  11.5  差
2  3  6  9   塚本勝士  1/8車輪  12.3     B

In [8]:
database_scraper.get_prize_table().head(3)

    券種  組合せ   払戻金額  人気
0   枠複  1-6   1200   5
1   枠単  1>6   3560  12
2  ２車複  1-8  42150  34